body {
  background-color: #222;
  color: #fff;
}

a {
  color: #10B7FB;
}

#gameArea {
  margin: 0 auto;
}

#created-by {
  margin-right: 25px;
  float: right;
}

.ui {
  margin-left: 5px;
  text-align: left;
}

.ui:first-child {
  margin-left: 25px;
}

#install a{
  background: #C46600;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}

/* Install Ribbon */
#install a:hover{
  background: #B64F11;
  color: #fff;
}

#install a::before,
#install a::after{
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#install a::after{
  bottom: 1px;
  top: auto;
}

@media screen and (min-width: 480px){
  #install{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 140px;
    overflow: hidden;
    height: 140px;
  }
  #install a{
    width: 140px;
    position: absolute;
    top: 30px;
    left: -58px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  }
}

#install.show {
  display: block;
}